*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

.box{
width: 100px;
height: 100vh;
padding:30px;
margin:auto;
position: relative;
display: flex;
/* align-items: center; */
justify-content: center;
gap:30px;
background-color: #ccc;


}

.box::before,
.box::after{
  content:"";
  width: 40%;
  height: 1px;
  background-color: #000;
  /* position:absolute;
  top:2px; */
  
  display: flex;
}

.dot{
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: black;
  display: flex;
  /* margin: 50px auto; */
} 


/* .section {
  display: flex;
  justify-content: center;
  height: 100vh;
}

 .section.main .inner {
  height: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.section.main .filler {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin: 4rem 0 10rem;
}

.section.main .filler:before,
.section.main .filler:after
 {
  content: '';
  width: 35%;
  height: 1px;
  background-color: #000;
  /* animation: expand 2s forwards; */
}

/* .section.main .filler .dot {
  background-color: #000;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  /* opacity: 0; */
  /* transform: scale(0); */
  /* animation: scale 2s forwards; */
} 

/* .line {
  position: relative;
  padding-bottom: 10px;
}

.line::before,
.line::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 1px;
}

.line::before {
  left: 0;
  border-bottom: 1px solid black;
}

.line::after {
  right: 0;
  border-bottom: 1px solid black;
}

.dot {
  position: absolute;
  bottom: -5px;
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
} */